*.class       # Ignore compiled Java class files
*.jar         # Ignore Java archive files
*.log         # Ignore log files
.idea/        # Ignore IntelliJ IDEA project settings
*.iml         # Ignore IntelliJ module files
api_key.txt   #user must use his own api key
*.exe         # ignore personal generated program  
arsenal-widget.jar         #user can build these there  selves  
MANIFEST.MF